.myNav {
    margin: 10px;
    border: 1.2px solid black;
}

.navbar {
    display: block;
    position: relative;
    background-image: url(../img/Navbar\ BG\ Dropped\ Opacity.jpg);
}

a {
    color: black;
}

body {
    color: black;
    background-image: url(../img/Wiki-background.jpg);
}

